<div class="alert alert-warning alert-dismissible" role="alert" ng-show="errorMessage">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Warning!</strong> {{errorMessage}}
</div>

<div class="jumbotron" >
	<div class="header">
		<h1 class="box">The Random Beer App!</h1>
		<div class="box btn-show-beer">
			<a class="btn btn-primary btn-lg " ng-click="randomBeer()"
				role="button">Show Another Beer</a>
		</div>
	</div>
</div>

<div class="content well well-lg">
		<div style="float: left;">
			<img class="img-responsive imglogo" data-ng-src="data:image/png;base64,{{beer.img}}" height="100%" width="50%;"/>
		</div>
		<div>
			<div>
				<h1>{{beer.name}}</h1>
			</div>
			<div >
				<p>{{beer.description}}</p>
				<p><b>ABV:</b> {{beer.abv}}%</p>
				<p><b>Brewery Location:</b> {{beer.breweryLocation}}</p>
			</div>
		</div>
</div>
